<div class="carousel-container" xmlns:th="http://www.thymeleaf.org" th:fragment="carousel">
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>	
   <div id="carousel-home-multi" class="carousel slide carousel-multi-item v-2" data-ride="carousel">
      <!--Controls-->
      <div class="controls-top">
         <a class="btn-floating waves-effect waves-light" href="#carousel-home-multi" data-slide="prev">
         	  <span class="chevron left"></span>
         </a>
         <a class="btn-floating waves-effect waves-light" href="#carousel-home-multi" data-slide="next">
         	  <span class="chevron right"></span>
         </a>
      </div>
      <!--/.Controls-->
      <!-- Indicators -->
      <ol class="carousel-indicators" >
         <li data-target="#carousel-home-multi" data-slide-to="${iterator.index}" th:class="${iterator.index == 0} ? 'active' : '' "  
             th:each="prodInfo, iterator : ${paginationProducts.list}" >
         </li>
      </ol>
      <!--/.Indicators-->
      <div class="carousel-inner v-2" role="listbox">
         <div th:class="${iterator.index == 0} ? 'carousel-item active' : 'carousel-item' " th:each="prodInfo, iterator : ${paginationProducts.list}">
            <div class="flex-center">
               <div class="col-12 col-md-3" >
                  <div class="card mb-2">
                     <img class="product-image-card" th:src="@{|/productImage?code=${prodInfo.code}|}" alt="Card image cap">
                     <div class="card-body">
                        <h5><span th:utext="${prodInfo.name}+' : '+${prodInfo.code}"></span></h5>
                        <p class="card-text">
                             <span th:utext="${prodInfo.details}"></span>
                        </p>
                        <a class="btn btn-primary btn-md btn-rounded waves-effect waves-light" th:href="@{|/productDetails?code=${prodInfo.code}|}">Details</a>
                        <a class="btn btn-outline-primary aqua-gradient prod buyNow" th:href="@{|/buyProduct?code=${prodInfo.code}|}">Buy Now</a>
                        <div class="flex-end">
                        	<i class="fas fa-share-alt text-muted float-right p-2 my-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Share this post"></i>
                            <i class="fas fa-heart text-muted float-right p-2 my-2 mr-3" data-toggle="tooltip" data-placement="top" title="" data-original-title="I like it"></i>
                        </div>
                     </div>
                  </div>
               </div>
               <div th:if="${iterator.index < #lists.size(paginationProducts.list) - 1}" class="col-12 col-md-3" >
                  <div class="card mb-2">
                     <img class="product-image-card" th:src="@{|/productImage?code=${paginationProducts.list[(iterator.index)+1].code}|}" alt="Card image cap">
                     <div class="card-body">
                        <h5><span th:utext="${paginationProducts.list[(iterator.index)+1].name}+' : '+${paginationProducts.list[(iterator.index)+1].code}"></span></h5>
                        <p class="card-text">
                        	<span th:utext="${paginationProducts.list[(iterator.index)+1].details}"></span>
                        </p>
                        <a class="btn btn-primary btn-md btn-rounded waves-effect waves-light" th:href="@{|/productDetails?code=${paginationProducts.list[(iterator.index)+1].code}|}">Details</a>
                        <a class="btn btn-outline-primary aqua-gradient prod buyNow" th:href="@{|/buyProduct?code=${paginationProducts.list[(iterator.index)+1].code}|}">Buy Now</a>
                        <div class="flex-end">
                        	<i class="fas fa-share-alt text-muted float-right p-2 my-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Share this post"></i>
                            <i class="fas fa-heart text-muted float-right p-2 my-2 mr-3" data-toggle="tooltip" data-placement="top" title="" data-original-title="I like it"></i>
                        </div>
                     </div>
                  </div>
               </div>
               <div th:if="${iterator.index < #lists.size(paginationProducts.list) - 2}" class="col-12 col-md-3" >
                  <div class="card mb-2">
                     <img class="product-image-card" th:src="@{|/productImage?code=${paginationProducts.list[(iterator.index)+2].code}|}" alt="Card image cap">
                     <div class="card-body">
                        <h5><span th:utext="${paginationProducts.list[(iterator.index)+2].name}+' : '+${paginationProducts.list[(iterator.index)+2].code}"></span></h5>
                        <p class="card-text">
                            <span th:utext="${paginationProducts.list[(iterator.index)+2].details}"></span>
                        </p>
                        <a class="btn btn-primary btn-md btn-rounded waves-effect waves-light" th:href="@{|/productDetails?code=${paginationProducts.list[(iterator.index)+2].code}|}">Details</a>        
                        <a class="btn btn-outline-primary aqua-gradient prod buyNow" th:href="@{|/buyProduct?code=${paginationProducts.list[(iterator.index)+2].code}|}">Buy Now</a>
                        <div class="flex-end">
                        	<i class="fas fa-share-alt text-muted float-right p-2 my-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Share this post"></i>
                            <i class="fas fa-heart text-muted float-right p-2 my-2 mr-3" data-toggle="tooltip" data-placement="top" title="" data-original-title="I like it"></i>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

