<div class="contactUs-container" xmlns:th="http://www.thymeleaf.org" th:fragment="contactUs">
    <div class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
	  aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header text-center">
	        <h4 class="modal-title w-100 font-weight-bold">Write to us</h4>	        
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
		      <form th:object="${reclamationForm}" th:action="@{/sendMail}" method="POST" enctype="multipart/form-data">
			      <div class="modal-body mx-3">
			        <span> We will get back to you as soon as possible.</span>		        
				        <div class="md-form mb-1">
				          <i class="fas fa-user prefix grey-text"></i>
				          <input  class="form-control form-control-sm validate" name="name">
				          <label data-error="wrong" data-success="right" for="form34">Your name</label>
				        </div>
				
				        <div class="md-form mb-1">
				          <i class="fas fa-envelope prefix grey-text"></i>
				          <input type="email" id="form29" class="form-control form-control-sm validate" name="email" required>
				          <label data-error="wrong" data-success="right" for="form29">Your email</label>
				        </div>
				
				        <div class="md-form mb-1">
				          <i class="fas fa-tag prefix grey-text"></i>
				          <input type="text" id="form32"  name="subject" class="form-control form-control-sm validate">
				          <label data-error="wrong" data-success="right" for="form32">Subject</label>
				        </div>
				
				        <div class="md-form">
				          <i class="fas fa-pencil prefix grey-text"></i>
				          <textarea type="text" id="form8" name="message" class="md-textarea form-control" rows="4" required></textarea>
				          <label data-error="wrong" data-success="right" for="form8">Your message</label>
				        </div>				   
			      </div>
			      <div class="modal-footer d-flex justify-content-center">
			        <button class="btn blue-gradient waves-effect waves-light" type="submit" name="submit">Send <i class="fas fa-paper-plane-o ml-1"></i></button>
			      </div>
		      </form>
	    </div>
	  </div>
	</div>
	
	<div class="text-center">
	  <a href="" class="btn-floating  btn-in waves-effect waves-light contact-btn" data-toggle="modal" data-target="#modalContactForm">
	     <i class="fas fa-file-signature"></i>Contact Us
	  </a>
	</div>

</div>