<div class="footer-container" xmlns:th="http://www.thymeleaf.org" th:fragment="footer">
    <!-- Footer -->
	<footer class="page-footer font-small mdb-color lighten-3 ">
	   <!-- Footer Links -->
	   <div class="container text-center text-md-left">
	      <!-- Grid row -->
	      <div class="row">
	         <!-- Grid column -->
	         <div class="col-md-4 col-lg-3 mr-auto  my-0 mb-1">
	            <!-- Content -->
	            <h5 class="font-weight-bold text-uppercase mb-4">FOR OUR CUSTOMER</h5>
	            <hr class="info-color mb-4 mt-0 bg-white d-inline-block mx-auto" style="width: 60px;">
	            
	            <p class="txt-just">
	               <i class="fas fa-fist-raised"></i>
	               "Follow your dreams and keep going on. <br>
	                You wil always find obstacles in the way but your rewards will be determined by the 
	                courage you will take to pass through all obstacles."
	                <i class="far fa-smile-wink"></i>
	            </p>
	         </div>
	         <!-- Grid column -->
	         <hr class="clearfix w-100 d-md-none">
	         <!-- Grid column -->
	         <div class="col-md-2 col-lg-2 mx-auto my-0 mb-1">
	            <!-- Links -->
	            <h5 class="font-weight-bold text-uppercase mb-4">About</h5>
	             <hr class="info-color mb-4 bg-white mt-0 d-inline-block mx-auto" style="width: 60px;">
	            <ul class="list-unstyled">
	               <li>
	                  <p>
	                     <a href="#!">
	                        <i class="fas fa-briefcase mr-3"></i>
	                     	PROJECTS
	                     </a>
	                     
	                  </p>
	               </li>
	               <li>
	                  <p>
	                     <a href="#!">
	                           <i class="fas fa-users mr-3"></i>
	                           OUR TEAM
	                     </a>
	                  </p>
	               </li>
	               <li>
	                  <p>
	                     <a href="#!">
	                         <i class="fas fa-bullhorn mr-3"></i>
	                         FOR MEDIA
	                      </a>	         
	                  </p>
	               </li>
	               <li>
	                  <p>
	                     <a href="#!">
		                     <i class="fas fa-award mr-3"></i>
		                     AWARDS
	                     </a>                     
	                  </p>
	               </li>
	            </ul>
	         </div>
	         <!-- Grid column -->
	         <hr class="clearfix w-100 d-md-none">
	         <!-- Grid column -->
	         <div class="col-md-4 col-lg-3 mx-auto  my-0 mb-1">
	            <!-- Contact details -->
	            <h5 class="font-weight-bold text-uppercase mb-4">Address</h5>
	            <hr class="info-color mb-4 mt-0 bg-white d-inline-block mx-auto" style="width: 60px;">
	            <ul class="list-unstyled">
	               <li>
	                  <p>
	                     <i class="fas fa-home mr-3"></i> France, Nantes, ST heblain 44800, 
	                     4 rue de Morlaix
	                  </p>
	               </li>
	               <li>
	                  <p>
	                     <i class="fas fa-envelope mr-3"></i> contact@vtech.com
	                  </p>
	               </li>
	               <li>
	                  <p>
	                     <i class="fas fa-phone mr-3"></i> + 33 00 22 42 42 24
	                  </p>
	               </li>
	            </ul>
	         </div>
	         <!-- Grid column -->
	         <hr class="clearfix w-100 d-md-none">
	         <!-- Grid column -->
	         <div class="col-md-2 col-lg-2 text-center mx-auto ">
	            <!-- Social buttons -->
	            <h5 class="font-weight-bold text-uppercase mb-4">Follow Us</h5>
	            
	            <!-- facebook -->
	            <a class="btn-floating my-1 btn-fb waves-effect waves-light">
	            <i class="fab fa-facebook-f"></i>
	            </a>
	            <!-- linkedin -->
	            <a class="btn-floating my-1 btn-in waves-effect waves-light">
	            <i class="fab fa-linkedin-in"></i>
	            </a>
	            <!-- twitter -->
	            <a class="btn-floating my-1 btn-tw waves-effect waves-light">
	            <i class="fab fa-twitter"></i>
	            </a>
	            <!-- youtube -->
	            <a class="btn-floating my-1 btn-yt waves-effect waves-light">
	            <i class="fab fa-youtube"></i>
	            </a>
	            <!-- Instagram -->
	            <a class="btn-floating my-1 btn-ins waves-effect waves-light">
	            <i class="fab fa-instagram"></i>
	            </a>    
	         </div>
	         <!-- Grid column -->
	      </div>
	      <!-- Grid row -->
	   </div>
	   <!-- Footer Links -->
	   <!-- Copyright -->
	   <div class="footer-copyright text-center py-2">@ 2020 Copyright:
	      <a href="//victoireirenge.fr" target="_blank">victoireirenge.fr</a>
	   </div>
	   <!-- Copyright -->
	</footer>
	<!-- Footer -->
</div>