
<div class="header-container flex-show"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" th:fragment="header">
 
   <div class="site-name">Vtech Online Shop</div>
   
   
   <nav class="navbar navbar-dark default-color justify-content-between">
	  <form class="form-inline my-1" th:object="${product}" th:action="@{/searchProduct}" method="post">
	    <div class="md-form form-sm my-0">
	      <input class="form-control form-control-sm mr-sm-2 mb-0" type="text" 
	      placeholder="Search by name or code" name="inputVal" aria-label="Search">
	    </div>
	    <button class="btn btn-outline-white btn-sm my-0" type="submit">Search</button>
	  </form>
   </nav>

   <div class="header-bar authent">

      <th:block sec:authorize="isAuthenticated()">
         <img th:src="@{/images/icons/icon-user.PNG}" />
         Hello
         <!-- {${#request.userPrincipal.name}} -->
         <a th:href="@{/admin/accountInfo}" th:text="${#strings.capitalize(#request.userPrincipal.name)}">
         </a>
         &nbsp;|&nbsp;
         <a class="identify-btn simple" th:href="@{/admin/logout}">Logout</a>
      </th:block>
       
      <th:block sec:authorize="!isAuthenticated()">
         Hello
         <!-- {${#request.userPrincipal.name}} -->
         <a th:href="@{/admin/accountInfo}" th:text="${name}"></a>
         <a class="identify-btn decorated" th:href="@{/admin/login}">Login</a>
      </th:block>
   </div>
   
</div>