<div class="menu-container"
   xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" th:fragment="menu">
   <ul id= "main-menu" class="flex-end mt-3">
		<li class="pr-2 pl-2">   
		   <a th:href="@{/}">
		      <i class="fas fa-home"></i>
		      Home
		   </a>
		</li>
		<li class="pr-2 pl-2">  
		   <a th:href="@{/productList}">
		   Product List
		   </a>
		</li> 
		
		 <li class="pr-2 pl-2">  
		   <a th:href="@{/shoppingCart}">
		      <i class="fas fa-shopping-cart"></i>
		      My Cart
		   </a>
		 </li> 
   
		 <th:block sec:authorize="hasAnyRole('ROLE_MANAGER','ROLE_EMPLOYEE')">
		   <li class="pr-2 pl-2">
		      <a th:href="@{/admin/orderList}">
		      Order List
		      </a>
		    </li>
		 </th:block>
		
		 <th:block sec:authorize="hasRole('ROLE_MANAGER')">
		   <li class="pr-2 pl-2"> 
		      <a th:href="@{/admin/product}">
		      Create Product
		      </a>
		   </li>
		 </th:block>
		 		 
		 <th:block sec:authorize="hasRole('ROLE_MANAGER')">
		   <li class="pr-2 pl-2">
		      <a th:href="@{/admin/account}">
		      <i class="fas fa-user-circle"></i>
		      Create Account
		      </a>
		   </li>
		 </th:block>
		 
		 <th:block sec:authorize="hasRole('ROLE_MANAGER')">
		   <li class="pr-2 pl-2">
		      <a th:href="@{/admin/accountList}">
		      Account List
		      </a>
		   </li>
		 </th:block>	
   </ul>
</div>