<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8">
      <title>Product</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
      <link rel="stylesheet" type="text/css" th:href="@{/bootstrap-4.0.0-dist/css/bootstrap.min.css}">
      <link rel="stylesheet" th:href="@{/fontawesome-free-5.13.0-web/css/all.min.css}">
   </head>
   <body>
    
       <th:block th:replace="fragments/_header :: header"></th:block>
       <th:block th:replace="fragments/_menu :: menu"></th:block>
       
      <div class="page-title">Account</div>
      <div th:if="${errorMessage!= null}" class="error-message" th:utext="${errorMessage}">
      </div>
       
      <form  th:object="${accountForm}" th:action="@{/admin/account}"
              method="POST" enctype="multipart/form-data">
         <a th:if="${username != null}" th:href="@{|/admin/accountList|}" class="flex-end color-blue-link">
              <i class="fas fa-arrow-circle-left">Back</i>	      	  
         </a>
         <table style="text-align:left;">
            <tr>
               <td>Username *</td>
                   <td><input name="username" class="form-control white-text" th:field="*{username}"  /></td>
               <td>
                  <span class="error-message" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">..</span>
               </td>
            </tr>
            <tr>
               <td>Password *</td>
                    <td><input  name="password" class="form-control white-text" th:field="*{password}"  /></td>
               <td>
                  <span class="error-message" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">..</span>
               </td>
            </tr>
            
            <tr>
	            <td>Active *</td>
				<td class="custom-control custom-radio custom-control-inline">
				  <input type="radio" th:class="custom-control-input" id="defaultGroupExample1" th:value="false" th:field="*{active}" name="groupOfDefaultRadios">
				  <label class="custom-control-label" for="defaultGroupExample1">False</label>
				</td>
				
				<!-- Group of default radios - option 2 -->
				<td class="custom-control custom-radio custom-control-inline">
				  <input type="radio" class="custom-control-input" id="defaultGroupExample2" th:value="true" th:field="*{active}" name="groupOfDefaultRadios" checked="checked">
				  <label class="custom-control-label" for="defaultGroupExample2">True</label>
				</td>
				<td>
                  <span class="error-message" th:if="${#fields.hasErrors('userRole')}" th:errors="*{active}">..</span>
               </td>
	        </tr>
           
             <tr>
               <td>Role* </td>
               <td>
	               <select class="mdb-select md-form" searchable="Search here.."  th:field="*{userRole}">
					  <option value="Select" disabled>Choose the role for the user</option>
					  <option value="ROLE_EMPLOYEE" th:utext="EMPLOYEE" selected="selected"></option>
					  <option value="ROLE_MANAGER"  th:utext="MANAGER"></option>						  
				   </select>
               </td>
               <td>
                  <span class="error-message" th:if="${#fields.hasErrors('userRole')}" th:errors="*{userRole}">..</span>
               </td>
            </tr>
            <tr>
               <td>Profil</td>
               <td>
                  <img th:src="@{|/accountImage?code=${accountForm.username}|}" width="100"/>
               </td>
               <td> </td>
            </tr>
            <tr>
               <td>Upload Profil Image</td>
               <td><input type="file" th:field="*{fileData}" /></td>
               <td> </td>
            </tr> 
            <tr>
               <td>&nbsp;</td>
               <td>
                  <input type="submit" value="Submit" />
                  <input type="reset" value="Reset" />
               </td>
            </tr>
         </table>
      </form>
       
       <th:block th:replace="fragments/_footer :: footer"></th:block>
       
   </body>
</html>
