<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8">
      <title>Product List</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
      <link rel="stylesheet" type="text/css" th:href="@{/bootstrap-4.0.0-dist/css/bootstrap.min.css}">
      <link rel="stylesheet" th:href="@{/fontawesome-free-5.13.0-web/css/all.min.css}">
   </head>
   <body class="order-list">
       <th:block th:replace="fragments/_header :: header"></th:block>
       <th:block th:replace="fragments/_menu :: menu"></th:block>
 
      <div class="page-title">Account List</div>
      <div>Total Account Count: <span th:utext="${paginationResult.totalRecords}"></span></div>
      <table id="dt-filter-select" class="table order-tab" style="width:100%; cellspacing='0';">
          <thead>
	         <tr>
	            <th class="th-sm">Number</th>
	            <th class="th-sm">Name</th>
	            <th class="th-sm">Active</th>
	            <th class="th-sm">Role</th>
	            <th class="th-sm">Creation Date</th>
	            <th class="th-sm">Logged Date</th>
	            <th class="th-sm">View</th>
	            <th class="th-sm">Edit</th>
	            <th class="th-sm">
	               <i class="fas fa-exclamation-circle"></i>
	               Delete All
	            </th>
	         </tr>
	      </thead>
	      <tbody>
	         <tr th:each="accountInfo, iterator : ${paginationResult.list}">
	            <td th:utext="${iterator.index}"></td>
	            <td th:utext="${accountInfo.username}"></td>
	            <td th:utext="${accountInfo.active}"></td>
	            <td th:utext="${accountInfo.userRole}"></td>
	            <td th:utext="${#dates.format(accountInfo.createAt,'dd-MM-yyyy hh:mm')}"></td>
	            <td th:utext="${#dates.format(accountInfo.loggedDate,'dd-MM-yyyy hh:mm')}"></td>
	            
	            <td>
	                <a th:href="@{|/admin/account?username=${accountInfo.username}|}">
	                   <i class="fas fa-eye"></i>
	                   View
	                </a>
	            </td>
	            <td>
	                <a th:href="@{|/admin/account?username=${accountInfo.username}|}" >
	                   <i class="fas fa-edit"></i>
	                   Edit
	                </a>
	            </td>
	            <td>
	                <a th:href="@{|/admin/deleteAccount?username=${accountInfo.username}|}">
	                   <i class="fas fa-trash-alt"></i>
	                   Delete
	                </a>
	            </td>
	         </tr>
	      </tbody>
      </table>
      <div class="page-navigator" th:if="${paginationResult.totalPages > 1}" >
         <th:block th:each="page: ${paginationResult.navigationPages}">
            <a th:if="${page != -1}" class="nav-item"
               th:href="@{|/admin/accountList?page=${page}|}" th:utext="${page}"></a>
                
            <span th:if="${page == -1}" class="nav-item"> ... </span>
         </th:block>
      </div> 
 
       <th:block th:replace="fragments/_footer :: footer"></th:block>
       
   </body>
</html>