
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8">
      <title>Vtech Shop Online</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
      <link rel="stylesheet" type="text/css" th:href="@{/bootstrap-4.0.0-dist/css/bootstrap.min.css}">
      <link rel="stylesheet" th:href="@{/fontawesome-free-5.13.0-web/css/all.min.css}">
    </head>
   <body>

       <th:block th:replace="fragments/_header :: header"></th:block>
       <th:block th:replace="fragments/_menu :: menu"></th:block>
       
		<div class="media">
		  <img class="d-flex rounded-circle avatar z-depth-1-half mr-3" src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg"
		    alt="Avatar">
		  <div class="media-body">
		    <h5 class="mt-0 font-weight-bold blue-text">Anna Wanyawi</h5>
		    I do think that the product S009 is the best one and I suggest it to everyone who will want to develop his developer carrier.
		
		    <div class="media mt-3 shadow-textarea">
		      <img class="d-flex rounded-circle avatar z-depth-1-half mr-3" src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg"
		        alt="Generic placeholder image">
		      <div class="media-body">
		        <h5 class="mt-0 font-weight-bold blue-text">Danny Mbala</h5>
		        <div class="form-group basic-textarea rounded-corners">
		          <textarea class="form-control z-depth-1" id="exampleFormControlTextarea345" rows="3" placeholder="Write your comment..."></textarea>
		        </div>
		      </div>
		    </div>
		  </div>
		</div>
		<div class="media">
		  <img class="d-flex rounded-circle avatar z-depth-1-half mr-3" src="https://mdbootstrap.com/img/Photos/Avatars/avatar-10.jpg"
		    alt="Avatar">
		  <div class="media-body">
		    <h5 class="mt-0 font-weight-bold blue-text">Caroline Ototo</h5>
		    thanks alot for the product I purchased in your site, I found it's a good investment. 
		    All articles are not expensive and they have a good quality
		  </div>
		</div>
		
      <th:block th:replace="fragments/_footer :: footer"></th:block>
       
   </body>
</html>