<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8">
      <title>Vtech Shop Online</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
      <link rel="stylesheet" type="text/css" th:href="@{/bootstrap-4.0.0-dist/css/bootstrap.min.css}">
      <link rel="stylesheet" th:href="@{/fontawesome-free-5.13.0-web/css/all.min.css}">
    </head>
   <body>

       <th:block th:replace="fragments/_header :: header"></th:block>
       <th:block th:replace="fragments/_menu :: menu"></th:block>
       
      <div class="page-title typewriter"><h4>Welcome to the shopping with VTech !!!</h4></div>
          
      <th:block th:replace="fragments/_carousel :: carousel"></th:block> 
       
    
      <div class="demo-container">
         <h3>Future content</h3>
         <ul>
            <li>Demo "how buy online"</li>
            <li>Bonuses</li>
            <li>Admin pages</li>
            <li>Daily and/or monthly shoppings report</li>
         </ul>
      </div>   
     
      

      <div class="flex-center">
           <th:block th:replace="fragments/_contactForm :: contactUs"></th:block> 
           
           <a class="btn-floating  btn-in waves-effect waves-light contact-btn" th:href="@{/commentPage}">
              <i class="fas fa-comments"></i>
              Votre Avis
           </a>
   
      </div> 
      <th:block th:replace="fragments/_footer :: footer"></th:block>
       
   </body>
</html>