<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
   <head>
      <meta charset="UTF-8">
      <title>Product List</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
      <link rel="stylesheet" type="text/css" th:href="@{/bootstrap-4.0.0-dist/css/bootstrap.min.css}">
      <link rel="stylesheet" th:href="@{/fontawesome-free-5.13.0-web/css/all.min.css}">
   </head>
   <body>
      <th:block th:replace="fragments/_header :: header"></th:block>
      <th:block th:replace="fragments/_menu :: menu"></th:block> 
      <div class="page-title">Product List</div>
      
      <div class="wysiwyg">Welcome to the shopping center !!!</div>
       
      <div class="product-preview-container" id="tot" th:each="prodInfo : ${paginationProducts.list}">
         <ul>
            <li><img class="product-image"
               th:src="@{|/productImage?code=${prodInfo.code}|}" /></li>
            <li>Code: <span th:utext="${prodInfo.code}"></span></li>
            <li class="prod-name">Name: <span th:utext="${prodInfo.name}"></span></li>
            <li>Price: <span th:utext="${#numbers.formatDecimal(prodInfo.price,3,2,'COMMA')}"></span></li>
            <div class="flex-show">
                <th:block>
		            <li class="btn btn-outline-primary prod buy mr-1">            
		               <a th:href="@{|/buyProduct?code=${prodInfo.code}|}">
		                  <i class="fas fa-shopping-basket"></i>
		                  Buy Now
		               </a>
		            </li>
		        </th:block>
	            <!-- For Manager edit Product -->
	            <th:block sec:authorize="hasAuthority('ROLE_MANAGER')">
	               <li class="btn btn-outline-primary prod edit" >
	                 <a th:href="@{|/admin/product?code=${prodInfo.code}|}">
	                    <i class="fas fa-edit"></i>
	                    Edit
	                 </a>
	               </li>
                </th:block>
            </div>
         </ul>
      </div>
       
      <br/>
      <div class="page-navigator" th:if="${paginationProducts.totalPages > 1}">
         <th:block th:each="page : ${paginationProducts.navigationPages}">
         
            <a th:href="@{|/productList?page=${page}|}" th:if="${page != -1}"
               class="nav-item" th:utext="${page}">
            </a>
               
            <span class="nav-item" th:if="${page == -1}"> ... </span>
             
         </th:block>
      </div>
       
      <th:block th:replace="fragments/_footer :: footer"></th:block>
       
   </body>
</html>