<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8">
      <title>Enter Customer Information</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
      <link rel="stylesheet" type="text/css" th:href="@{/bootstrap-4.0.0-dist/css/bootstrap.min.css}">
      <link rel="stylesheet" th:href="@{/fontawesome-free-5.13.0-web/css/all.min.css}">
   </head>
   <body>
       <th:block th:replace="fragments/_header :: header"></th:block>
       <th:block th:replace="fragments/_menu :: menu"></th:block>
       
      <div class="page-title">Enter Customer Information</div>
       
      <form method="POST" th:object = "${customerForm}" th:action="@{/shoppingCartCustomer}">
          
         <table>
            <tr>
               <td>Name *</td>
               <td><input th:field="*{name}" /></td>
               <td>
                  <span class="error-message"
                     th:if="${#fields.hasErrors('name')}" th:errors="*{name}">..</span>
               </td>
            </tr>
            <tr>
               <td>Email *</td>
               <td><input th:field="*{email}" /></td>
               <td>
                  <span class="error-message"
                     th:if="${#fields.hasErrors('email')}" th:errors="*{email}">..</span>
               </td>
            </tr>
            <tr>
               <td>Phone *</td>
               <td><input th:field="*{phone}" /></td>
               <td>
                  <span class="error-message"
                     th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">..</span>
               </td>
            </tr>
            <tr>
               <td>Address *</td>
               <td><input th:field="*{address}" /></td>
               <td>
                  <span class="error-message"
                     th:if="${#fields.hasErrors('address')}" th:errors="*{address}">..</span>
               </td>
            </tr>
            <tr>
               <td>&nbsp;</td>
               <td><input type="submit" value="Submit" /> <input type="reset"
                  value="Reset" /></td>
            </tr>
         </table>
          
      </form>
       
       <th:block th:replace="fragments/_footer :: footer"></th:block>
       
   </body>
</html>