<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8">
      <title>Shopping Cart</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
      <link rel="stylesheet" type="text/css" th:href="@{/bootstrap-4.0.0-dist/css/bootstrap.min.css}">
      <link rel="stylesheet" th:href="@{/fontawesome-free-5.13.0-web/css/all.min.css}">
   </head>
   <body>
       <th:block th:replace="fragments/_header :: header"></th:block>
       <th:block th:replace="fragments/_menu :: menu"></th:block>
       
      <div class="page-title">My Cart</div>
       
      <th:block th:if="${cartForm == null || cartForm.cartLines == null || cartForm.cartLines.empty}">
         <h2>There is no items in Cart</h2>
         <a class="btn btn-outline-primary link" th:href="@{/productList}">Show Product List</a>
      </th:block>
       
      <th:block th:if="${cartForm != null && cartForm.cartLines != null && !cartForm.cartLines.empty}">
         <form method="POST" th:object="${cartForm}" th:action="@{/shoppingCart}">
                 <div>
		               <div class="Info">
		                   <h5 class="flex-center">Instructions</h5>
		                   <div class="flex-center">
			                   <ul>
				                   <li class="txt-just"><span>* For updating quantity, press the button Update Quantity</span></li>
				                   <li class="txt-just"><span>* Then Enter the customer info by pressing the corresponding button</span></li>
				                   <li class="txt-just"><span>* If you want to pursuit the purchase press Continue Buy</span></li>
			                   </ul>
			                </div>
		               </div>
		               <div class="product-preview-container big-cart"
		                        th:each="cartLineInfo, varStatus : ${cartForm.cartLines}">
		                  <ul>
		                     <li><img class="product-image"
		                        th:src="@{|/productImage?code=${cartLineInfo.productInfo.code}|}" />
		                     </li>
		                     <li>Code: <span th:utext="${cartLineInfo.productInfo.code}"></span>
		                        <input type="hidden"      
		                           th:name="|cartLines[${varStatus.index}].productInfo.code|"                       
		                           th:value="${cartLineInfo.productInfo.code}" />
		                     </li>
		                     <li>Name: <span th:utext="${cartLineInfo.productInfo.name}"></span></li>
		                     <li>Price:
		                        <span class="price"
		                           th:utext="${#numbers.formatDecimal(cartLineInfo.productInfo.price,3,2,'COMMA')}">
		                        </span>
		                     </li>
		                     <li>
		                        Quantity:
		                        <input
		                            th:name="|cartLines[${varStatus.index}].quantity|"
		                            th:value="${cartLineInfo.quantity}" />
		                     </li>
		                     <li>Subtotal:
		                        <span class="subtotal"
		                           th:utext="${#numbers.formatDecimal(cartLineInfo.amount,3,2,'COMMA')}">
		                        </span>
		                     </li>
		                     <li>
		                        <a th:href="@{|/shoppingCartRemoveProduct?code=${cartLineInfo.productInfo.code}|}">
		                            <i class="fas fa-trash-alt"></i>
		                            Remove
		                        </a>
		                     </li>
		                  </ul>
		               </div>
                  </div>
            <div style="clear: both"></div>
                            
            <input class="btn btn-outline-primary link button-update-sc" type="submit" value="Update Quantity"/>                        
            <a class="navi-item btn btn-outline-primary link"
               th:href="@{/shoppingCartCustomer}">
               <i class="fas fa-pencil-alt"></i>
               Enter Customer Info
            </a>
            <a class="navi-item btn btn-outline-primary link"
               th:href="@{/productList}">
               <i class="fas fa-shopping-basket"></i>
               Continue Buy
            </a>
            <a class="navi-item btn btn-outline-primary link"
               th:href="@{/productList}">
               <i class="fas fa-money-bill-wave"></i>
               Validate Paiement
            </a>
         </form>
      </th:block>
       
       <th:block th:replace="fragments/_footer :: footer"></th:block>
       
   </body>
</html>